header .nav_color {
  background-color: #3c5a36;
  font-size: 22px; }

section {
  background-color: #DDFFBC; }
  section h1 {
    font-size: 53px; }
  section .carusel-ancho {
    height: 60vh;
    object-fit: cover; }
  section .margen {
    padding: 70px;
    object-fit: cover; }
  section .title {
    margin-top: 70px;
    text-align: center;
    font-size: 35px; }
  section .textointro {
    margin: 35px;
    font-size: 23px;
    text-align: justify; }
  section .textointro2 {
    margin-top: 145px;
    margin-left: 100px;
    margin-right: 80px;
    font-size: 23px;
    text-align: justify; }
  section .margen {
    margin: 1px; }
  section .dimension {
    margin: 20px; }
  section .justificar {
    text-align: justify; }
  section .botonver {
    height: 50px;
    box-shadow: 5px 5px black;
    width: 140px;
    border-radius: 30px;
    margin-top: 40px;
    background-color: #52734D;
    border: #52734D; }
  section .section_foodimg {
    margin-top: 80px;
    margin-left: 40px;
    border-radius: 75px;
    background-image: url("../imagen/mijo.jpg");
    width: 85%;
    height: 400px;
    background-color: aquamarine; }
  section .col-lg-4 .card {
    text-align: center;
    margin-left: 190px;
    margin-top: 100px;
    border-top-left-radius: 10em;
    border-top-right-radius: 10em;
    border: none;
    box-shadow: 0px 0px 10px #4f5e5e; }
  section .col-lg-4 .card img {
    border-top-left-radius: 10em;
    border-top-right-radius: 10em; }

footer {
  background-color: #5b8a7a;
  color: white; }
  footer a {
    color: white; }
